<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Wszystkie posty</h1>

<div th:each="post : ${postsModel}">
    <!--  .added -> .getAdded() -->
    <div th:text="${post.getAdded()}">2018-08-19 09:42</div>
    <a th:href="@{/post/} + ${post.id}"><h2 th:text="${post.title}">Tytuł posta</h2></a>
    <a th:href="@{/post/{postId}(postId=${post.id})}">Link</a>
    <p th:text="${post.content}">Treść posta</p>
</div>

</body>
</html>