<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${post.title}"></h1>

<div th:text="${post.added}">2018-08-19 09:42</div>
<p th:text="${post.content}">Treść posta</p>

<h2>Komentarze:</h2>
<form method="post"
      th:action="@{/post/{postId}/comment/add(postId = ${post.id})}">
    <input type="hidden" name="postHiddenId" th:value="${post.id}">
    <textarea name="commentBody" placeholder="Treśc komentarza..."></textarea>
    <br>
    <input type="submit" value="Dodaj">
</form>

<div th:each="asd : ${comments}">
    <span th:text="${asd.added}"></span>
    <div th:text="${asd.commentBody}"></div>
</div>

</body>
</html>