<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Wyniki wyszukiwania</h1>

<div>Wyszukiwana fraza: <span th:text="${phrase}"></span></div>

<div th:each="post : ${posts}">
    <div th:text="${#dates.format(post.added, 'HH:mm')}">2018-08-19 09:42</div>
    <a th:href="@{/post/{postId}(postId=${post.id})}">
        <h2 th:text="${post.title}">Tytuł posta</h2>
    </a>
    <p th:text="${#strings.substring(post.content, 0, 5)}">Treść posta</p>
</div>

</body>
</html>