<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello Page #2</h1>
<p th:text="${value}">Example value #1</p>
<div th:if="${firstName != null}" th:text="${firstName}"
     style="border: 1px solid red;">Michał</div>
<form method="get" action="" th:if="${firstName == null}">
    <input type="text" name="firstName">
    <input type="submit" value="Wyslij">
</form>

<p th:if="${firstName != null}" th:text="${'Hello, ' + firstName}"></p>
<p th:unless="${firstName != null}" th:text="${'Hello'}"></p>

<p th:text="${'Hello' + (firstName != null ? ', ' + firstName : '')}"></p>

<p th:text="${ua}"></p>


</body>
</html>