<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/custom_styles.css}">
</head>
<body>
<h1>Zarejestruj się</h1>

<form method="post" th:action="@{/user/register}" class="registerForm"
      th:object="${registerForm}">
    <input type="text" th:field="*{email}" placeholder="E-mail...">
    <span class="error" th:errors="*{email}"></span>
    <input type="password" th:field="*{pass}" placeholder="Hasło...">
    <span class="error" th:errors="*{pass}"></span>
    <input type="password" th:field="*{passRepeat}" placeholder="Powtórz hasło...">
    <span class="error" th:errors="*{passRepeat}"></span>
    <input type="text" th:field="*{firstName}" placeholder="Imię...">
    <span class="error" th:errors="*{firstName}"></span>
    <input type="text" th:field="*{lastName}" placeholder="Nazwisko...">
    <span class="error" th:errors="*{lastName}"></span>
    <input type="submit" value="Zarejestruj">
</form>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>